button {
    width: 10%;
    .btn-cancel{}
    .btn-save{}
}

.close {
        background: transparent;
            border: 0;
            color: white;
            font-size: 25px;
            width: 23px;
}