.booking-modal-container {
    .modal-header {
        height: fit-content !important;
            background: #f1f1f1 !important;
       
        }
        .modal-body {
                .booking-schedule-middle{
                   
                    .form {
                            .form-group {
                                margin: 10px 0;
                            }
                        }
                }
                                        
                }
        .modal-footer {

            .btn-modal-save {
                width: fit-content;
            }
            .btn-modal-cancel {

            }
                                }
}